.bg-modal
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
}

.reg-form-container
{
    width: 45vw;
    height: 95vh;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reg-center-cont
{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.reg-header
{
    width: 100%;
    height: 20vh;
    display: inline-flex;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.logo
{
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
}

.reg-header-img
{
    width: 10vw;
}

.title-cont
{
    margin-left: 5%;
    text-align: center;
    width: 20vw;
    height: 100%;
}

.header-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    color: rgb(92, 92, 92);
    font-weight: 1000;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reg-progress-bar
{
    width: 100%;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

.reg-form
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-cont
{
    width:  100%;
    height: 6vh;
    margin-bottom: 1.2vh;
}

.form-style
{
    width: 95%;
    height: 5vh;
    border: none;
    border-radius: .3em;
    background-color: #e2e2e2;
    font-style: 'Roboto', sans-serif;
    font-size: 1.05vw;
    outline: none;
    text-indent: 7px;
}

.form-style:focus
{
    box-shadow: 0 0 0 1px #59c244;
}

.form-style2
{
    width: 65%;
    height: 5vh;
    border: none;
    border-radius: .3em;
    background-color: #e2e2e2;
    font-style: 'Roboto', sans-serif;
    font-size: 1.05vw;
    outline: none;
    text-indent: 7px;
}

.form-style2:focus
{
    box-shadow: 0 0 0 1px #59c244;
}

.form1
{
    float: left;
    width: 50%;
    height: 100%;
}

.form2
{
    float: right;
    width: 50%;
    height: 100%;
}

.cbox1
{
    display: inline-block;
    width: 40%;
    height: 70%;
    border: 1px solid rgb(63, 63, 63);
}

.cbox2
{
    display: inline-block;
    width: 40%;
    height: 70%;
    border: 1px solid rgb(63, 63, 63);
}

.form-cbox-style
{
    margin-top: 1.2vh;
    margin-left: .5vw;
    
}

.radio-name
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.05vw;
}

.create-acc-submit
{
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25%;
    height: 6.5vh;
    border-radius: .5em;
    border-style: none;
    background-color: #59c244;
    font-style: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: .9vw;
    cursor: pointer;
    outline: none;
}

.create-acc-submit:hover
{
    background-color: #38792b;
    color: #ffffff;
}

.close
{
    position: absolute;
    font-size: 5vw;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 1000;
    top: -2.5vh;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
    color:rgb(92, 92, 92);
}

.close:hover
{
    color: red;
}